name: "test / 测试"

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    name: ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    steps:
      - uses: actions/checkout@v6

      - name: Install Rust
        uses: dtolnay/rust-toolchain@nightly
        with:
          toolchain: nightly

      - name: Cache cargo registry and index
        uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            ~/.cargo/bin
            target
          key: ${{ runner.os }}-cargo-nightly-${{ hashFiles('**/Cargo.lock') }}
          restore-keys: |
            ${{ runner.os }}-cargo-nightly-
            ${{ runner.os }}-cargo-
          cache-timeout: 604800

      - name: Cache rust compiler
        uses: actions/cache@v4
        with:
          path: |
            ~/.rustup/toolchains/nightly-*
            ~/.rustup/downloads
          key: ${{ runner.os }}-rustup-nightly-${{ hashFiles('rust-toolchain.toml', '**/Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-rustup-nightly-
            ${{ runner.os }}-rustup-
          cache-timeout: 604800

      - name: test.sh
        run: ./test.sh
        shell: bash
